In [ ]:
# 1. population.csv 파일을 DataFrame으로 읽고 내용 확인
# 2. 현재 연구자 거주지 동의 인구 정보 조회 ( 행전체 )

# -> "1,234,567" -> "1234567" -> 1234567

# 3. 총인구수가 가장 많은 동 조회 ( 읍면동 단위 )
# 4. 남성인구비가 가장 높은 동 조회 ( 읍면동 단위 )
# 5. 도시 법정동 1선정, 농촌 법정동 1선정, 인구 분포 비교 ( 읍면동 단위 )

In [1]:
import pandas as pd

In [2]:
population = pd.read_csv('data-files/population.csv')

C:\Users\human\AppData\Local\Temp\ipykernel_6436\804588561.py:1: DtypeWarning: Columns (100,101,103,198,199,200,201,305,306,307,309) have mixed types. Specify dtype option on import or set low_memory=False.
  population = pd.read_csv('data-files/population.csv')

In [3]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Columns: 310 entries, 행정구역 to 2024년09월_여_100세 이상
dtypes: int64(7), object(303)
memory usage: 9.2+ MB

In [4]:
population.head(3)

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
0,서울특별시 (1100000000),"9,350,995","9,350,995","38,100","38,486","40,625","42,608","44,377","47,757","51,072",...,"6,767","5,474","3,921","3,343","2,623","1,892","1,391",776,523,"1,184"
1,서울특별시 종로구 (1111000000),"138,879","138,879",415,419,467,471,516,512,580,...,131,105,87,63,52,46,34,21,8,33
2,서울특별시 종로구 청운효자동(1111051500),"11,143","11,143",52,35,43,48,46,50,50,...,13,10,11,3,6,4,1,2,0,4

In [14]:
# Series.str : Series에 포함된 문자열 각각에 적용할 함수를 포함하는 객체 (내장된 반복문 실행)
dong_filter = population['행정구역'].str.contains('동삭동')
population[dong_filter]

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
1527,경기도 평택시 동삭동(4122065000),"42,024","42,024",527,527,507,492,517,538,568,...,8,6,8,2,2,1,1,2,1,0

In [23]:
# "1,234,567" -> "1234567" -> 1234567

print ( population["2024년09월_계_총인구수"].dtype )

population["2024년09월_계_총인구수"] = \
    population["2024년09월_계_총인구수"].map(lambda v : int(str(v).replace(",", "")))

int64

In [21]:
population["2024년09월_계_총인구수"].dtype

dtype('int64')

In [24]:
population["행정구역"]

0                서울특별시  (1100000000)
1             서울특별시 종로구 (1111000000)
2        서울특별시 종로구 청운효자동(1111051500)
3          서울특별시 종로구 사직동(1111053000)
4          서울특별시 종로구 삼청동(1111054000)
                    ...
3905    제주특별자치도 서귀포시 서홍동(5013058000)
3906    제주특별자치도 서귀포시 대륜동(5013059000)
3907    제주특별자치도 서귀포시 대천동(5013060000)
3908    제주특별자치도 서귀포시 중문동(5013061000)
3909    제주특별자치도 서귀포시 예래동(5013062000)
Name: 행정구역, Length: 3910, dtype: object

In [27]:
area_mask = population['행정구역'].map(lambda v: v[-6] != '0') # 동 행정구역 찾기
max_value = population[area_mask]["2024년09월_계_총인구수"].max()
max_value

population[ population["2024년09월_계_총인구수"] == max_value ]

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
3715,경상남도 양산시 물금읍(4833025300),117160,"117,160",643,739,845,882,"1,114","1,169","1,403",...,46,42,31,18,24,12,4,5,4,9